@mixin container( $max: 1280px ) {
  margin: 0 auto;
  width: calc(100% - 200px);
  max-width: $max;
  @include below(782px) {
    width: calc(100% - 40px);
  }
}

@mixin button( $color: $black ) {
  cursor: pointer;
  appearance: none;
  @if $color == $black {
  } @else if $color == $white {
  } @else {
  }
  &:hover {
  }
}

@mixin input {
  outline: 0;
  appearance: none;
}
 
@mixin textarea {
  outline: 0;
  appearance: none;
}

@mixin select {
  outline: 0;
  appearance: none;
}